/* Todo web app */


body {
    background: #ef5350;
}

#container {
    background: #e2f1f8;
    width: 400px;
    margin: 0 auto;
}

.completed {
    color: grey;
    text-decoration: line-through;
}


